.post-molecule {
    border-width: 0.1rem;
    margin: 1rem;
    padding: 0.5rem;
    background-color: grey;
    border-color: black;
    border-style: dotted;
    border-radius: 10px;
    min-height: 8rem;
}